In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('power_plants.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'power_plants.csv'

In [7]:
data

          AT      V       AP     RH      PE
0      14.96  41.76  1024.07  73.17  463.26
1      25.18  62.96  1020.04  59.08  444.37
2       5.11  39.40  1012.16  92.14  488.56
3      20.86  57.32  1010.24  76.64  446.48
4      10.82  37.50  1009.23  96.62  473.90
...      ...    ...      ...    ...     ...
47835  15.12  48.92  1011.80  72.93  462.59
47836  33.41  77.95  1010.30  59.72  432.90
47837  15.99  43.34  1014.20  78.66  465.96
47838  17.65  59.87  1018.58  94.65  450.93
47839  23.68  51.30  1011.86  71.24  451.67

[47840 rows x 5 columns]

In [11]:
data['device_id'] = np.random.randint(0, 4, data.shape[0])

In [12]:
data

          AT      V       AP     RH      PE  device_id
0      14.96  41.76  1024.07  73.17  463.26          1
1      25.18  62.96  1020.04  59.08  444.37          3
2       5.11  39.40  1012.16  92.14  488.56          0
3      20.86  57.32  1010.24  76.64  446.48          2
4      10.82  37.50  1009.23  96.62  473.90          0
...      ...    ...      ...    ...     ...        ...
47835  15.12  48.92  1011.80  72.93  462.59          3
47836  33.41  77.95  1010.30  59.72  432.90          1
47837  15.99  43.34  1014.20  78.66  465.96          0
47838  17.65  59.87  1018.58  94.65  450.93          0
47839  23.68  51.30  1011.86  71.24  451.67          3

[47840 rows x 6 columns]

In [18]:
from sklearn import datasets, linear_model, metrics
from sklearn.model_selection import train_test_split

In [43]:
def train(df):
    
    X = df.drop('PE',axis=1)
    y = df['PE']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,
                                                    random_state=1)
    
    # create linear regression object
    reg = linear_model.LinearRegression()

    # train the model using the training sets
    reg.fit(X_train, y_train)
    
    score = reg.score(X_test, y_test)
    print('score', score)
    return score

In [44]:
train(data)

score 0.9282108510110805

0.9282108510110805

In [45]:
df0 = data[data['device_id'] == 0]
df1 = data[data['device_id'] == 1]
df2 = data[data['device_id'] == 2]
df3 = data[data['device_id'] == 3]

listdf = [df0, df1, df2, df3]

In [46]:
for i in listdf:
    train(i)

score 0.9269228594745749
score 0.9327179997073946
score 0.9289998782829594
score 0.9300095283591532

In [47]:
data.groupby('device_id').apply(train)

score 0.9269228594745749
score 0.9327179997073946
score 0.9289998782829594
score 0.9300095283591532

device_id
0    0.926923
1    0.932718
2    0.929000
3    0.930010
dtype: float64